.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.notice-bar {
    top: 0;
    left: 0;
    height: 32px;
    background: #169888;
    width: 100%;
    z-index: 1;
    display: table;
    color: #fff;
}

.notice-bar-message {
    text-align: center;
    font-size: 12px;
    display: table-cell;
    vertical-align: middle;
}
